* {
	font-family: roboto, sans-serif;
	box-sizing: border-box;
	transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

html, body {
	padding: 0;
	margin: 0;
	background-color: #263238;
	z-index: 0;
}

div {
	padding: 0;
	border: 0;
	margin: 0;
}


#contactCard {
	display: inline-block;
	background-color: #2196f3;
	width: 200px;
	height: 390px;
	margin: 0;
	border-radius: 3px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	color: #fff;
}

.tab {
	background-color: white;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0;	
	margin-top: 0;
	z-index: 10;
	float: left;
	position: relative;
	cursor: pointer;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome and Opera */

	transition: all 300ms;
}

#menu {
	line-height: 0;
	height: 60px;
	padding-left: 15px;
}

#card {
	margin-top: 100px;
	width: 870px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
}

#photo {
	width: 160px;
	height: 160px;
	background-color: orange;
	border-radius: 50%;
	margin: 20px 20px 0px 20px;
	border: 4px solid #fff;
}

#textBlock {
	display: inline-block;
	width: 650px;
	text-align: center;
	margin: 0;
	vertical-align: top;
	padding: 10px;
	height: 400px;
}

.tabBlock {
	height: 310px;
	width: 630px;
	background-color: #fff;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 3px;
	z-index: -1;
	text-align: left;
	position: absolute;
	color: #000;
	overflow: scroll;
}

.blockPanel {
	width: 100%;
	height: 320px;
	background-color: #263238;
	padding: 10px;
	position: relative;
}

.tab.showing {
	margin-top: 40px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.tabBlock.showing {
	z-index: 3;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.tab > i {
	line-height: 60px;
	font-size: 30px;
}


#contactTab {
	color: #009688;
}

#schoolTab {
	color: #f44336;
}

#workTab {
	color: #4CAF50;
}

#skillsTab {
	color: #FF9800;
}

#activitiesTab {
	color: #2196F3;
}

#hobbiesTab {
	color: #E91E63;
}


#contactTab.showing, #contactBlock > .bottomAccent {
	color: #fff;
	background-color: #009688;
}

#schoolTab.showing, #schoolBlock > .bottomAccent {
	color: #fff;
	background-color: #f44336;
}

#workTab.showing, #workBlock > .bottomAccent {
	color: #fff;
	background-color: #4CAF50;
}

#skillsTab.showing, #skillsBlock > .bottomAccent {
	color: #fff;
	background-color: #FF9800;
}

#activitiesTab.showing, #activitiesBlock > .bottomAccent {
	color: #fff;
	background-color: #2196F3;
}

#hobbiesTab.showing, #hobbiesBlock > .bottomAccent {
	color: #fff;
	background-color: #E91E63;
}

.tabBlock > .bottomAccent {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 68px;
	white-space: nowrap;

	transition: all 500ms;
}

.tabBlock.showing > .bottomAccent {
	padding-left: 30px;
	width: 100%;
}

.tabBlock > .bottomAccent > h2 {
	font-weight: 900;
}

.nextButton {
	float: right;
	position: absolute;
	color: #fff;
	right: 0;
}

.bodyText {
	margin: 45px 20px 10px 20px;
	width: 80%;
}

.textColumns, .textReg {
	position: absolute;
	padding: 50px 20px 10px 20px;
	font-size: 14px;
	max-height: 252px;
}

.textReg i {
	margin: 0 20px;
}

.textColumns {
	column-count: 2; 
	column-gap: 20px;
}

.textColumns > p, .textColumns > ul {
	margin: 0;
}

.textReg > p, .textReg > ul {
	margin-top: 0;
}

ul li, ul li ul li  {
	margin-left: -10px;
}

.textReg {
	font-size: 14px;
}

#projectLink {
	cursor: pointer;
	width: 200px;
	height: 50px;
	background-color: #ff4081;
	line-height: 50px;
	color: white;
	font-weight: 900;
	text-align: center;
	font-size: 24px;
	border-radius: 3px;
	margin: 40px auto;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

	transition: box-shadow 300ms;
}

.tab:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#projectLink:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
