.App {
  text-align: center;
  margin: auto;
}

.card {
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 4px #000;
  padding: 14px;
  margin: 10px;
  background-color: #fff;
}

.project-card {
  transition: all 400ms;
}
